.book-form {
	width: 100%;
	display: flex;
	justify-content: space-between;
	height: 70px;
	align-items: center;
}

input, button {

	border: none;
	outline: none;
	background: none;
	border-radius: 20px;
}

.book-input {
	width: 300px;
	height: 30px;
	background-color: rgb(228, 228, 228);
	outline: none;
	padding: 20px 15px;
	font-weight: bold;
}

.book-input-description {
	width: 700px;
	height: 30px;
	background-color: rgb(228, 228, 228);
	outline: none;
	padding: 20px 15px;
	font-weight: bold;
}



.book-button {
	width: 174px;
	height: 44px;
	border: none;
	border-radius: 20px;
	color: #fff;
	background-color: rgb(12, 104, 24);
	outline: none;
	font-weight: bold;
}
